html {
    scroll-behavior: smooth;
}

.greets {
    font-family: Sacramento;
    font-size: 50px;
}

.mygit {
    text-decoration: none;
    color: #fff;
}

.my_contact {
    text-decoration: none;
    color: gray;
}

#greetings {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 300px;
}

#my_skills {
    font-family: Sacramento;
    font-size: 50px; 
}

.hello {
    font-family: Sacramento;
    font-size: 50px;
}

.introducing {
    display: flex;
    text-align: center;
    align-items: center;
    flex-direction: column;
}



.gradient-background {
    background: linear-gradient(300deg, #00bfff, #ff4c68, #ef8172);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.my_photo {
    border-radius: 50%;
    height: 150px;
    width: 150px;
}